.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.infoSide {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.infoContainer {
  padding-left: 210px;
}

.nameTitle {
  width: 350px;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2rem;
}

.coming {
  font-size: 74px;
  font-weight: 100;
  letter-spacing: 4rem;
  text-transform: uppercase;
}

.zoom {
  font-size: 86px;
  font-weight: 800;
  letter-spacing: 3rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.infoText {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.imgSide {
  width: 40%;
  background: url("https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.comingSoomPhoto {
  width: 100%;
}
