.homeContainer {
  width: 100vw;
  height: 100vh;
}

.infoSide {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  padding-left: 250px;
}

.nameTitle {
  width: 350px;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2rem;
}

.coming {
  font-size: 74px;
  font-weight: 100;
  letter-spacing: 4rem;
  text-transform: uppercase;
}

.zoom {
  font-size: 86px;
  font-weight: 800;
  letter-spacing: 3rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.infoText {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.imgSide {
  width: 40%;
}
